@model BikeRentalSystem.ViewModels.RentalPointDetailViewModel

@{
    ViewData["Title"] = "Rental Point Details";
}

<div class="container">
    <h1 class="my-4">@Model.Name</h1>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Address:</h5>
            <p class="card-text">@Model.Address</p>
            <h5 class="card-title">Vehicles:</h5>
            <ul>
                @foreach (var vehicle in Model.Vehicles)
                {
                    <li>@vehicle.Make @vehicle.VehicleType.Type</li>
                }
            </ul>
        </div>
    </div>
    <div class="my-4">
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
</div>
