@model BikeRentalSystem.ViewModels.VehicleItemViewModel

@{
    ViewData["Title"] = "Inventory";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Vehicle List</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var vehicle in Model.Vehicles)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@Url.Content(vehicle.ImgURL)" class="card-img-top" alt="@vehicle.Make">
                    <div class="card-body">
                        <p class="card-text">Make: @vehicle.Make</p>
                        <p class="card-text">Type: @vehicle.VehicleType</p>
                        <a href="@Url.Action("GetVehicleDetails", "Vehicles", new { id = vehicle.Id })" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-12 text-end mt-4">
    <a href="@Url.Action("Create", "Vehicles")" class="btn btn-primary float-end">Add Vehicle</a>
</div>




