@model BikeRentalSystem.ViewModels.VehicleItemViewModel

@{
    ViewData["Title"] = "Inventory";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Vehicle List</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var vehicle in Model.Vehicles)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@Url.Content(vehicle.ImgURL)" class="card-img-top" alt="@vehicle.Make">
                    <div class="card-body">
                        <h5 class="card-title">@vehicle.Make</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@vehicle.VehicleType.Type</h6>
                        <a href="@Url.Action("GetVehicleDetails", "Vehicles", new { id = vehicle.Id })" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-12 text-end mt-4">
    <a href="@Url.Action("Create", "Vehicles")" class="btn btn-primary float-end">Add Vehicle</a>
</div>

<style>
    .card {
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .card:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            transform: translateY(-5px);
        }

    .card-title {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .card-subtitle {
        font-size: 1rem;
        color: #666;
        margin-bottom: 1rem;
    }

    .card-text {
        font-size: 0.9rem;
        color: #333;
        margin-bottom: 0.5rem;
    }

    .btn-primary {
        background-color: #0069d9;
        border-color: #0069d9;
        font-size: 0.9rem;
        margin-top: 1rem;
    }

        .btn-primary:hover {
            background-color: #0052a5;
            border-color: #0052a5;
        }

    .float-end {
        float: right;
    }
</style>
