@model IEnumerable<BikeRentalSystem.Models.Vehicle>

@{
    ViewData["Title"] = "Inventory";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Vehicle List</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var vehicle in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@Url.Content(vehicle.ImgURL)" class="card-img-top" alt="@vehicle.Name">
                    <div class="card-body">
                        <h5 class="card-title">@vehicle.Name </h5>
                        <p class="card-text">Id: @vehicle.Id</p>
                        <p class="card-text">Description: @vehicle.Description</p>
                        <p class="card-text">Price: @vehicle.Price</p>
                            <a href="@Url.Action("GetVehicleDetails", "Vehicles", new { id = vehicle.Id })" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
